@import url(./_centered/content__title_centered.css);

.content__title {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 800;
  width: 90%;
  margin: 70px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .content__title {
    font-size: 4.5em;
    margin: 90px auto 0 auto;
  }
}
