.list__title {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .list__title {
  }
}

@media screen and (min-width: 1024px) {
  .list__title {
  }
}

@media screen and (min-width: 1280px) {
  .list__title {
  }
}
