.grid__image {
  width: 100%;
}
/*
@media screen and (min-width: 768px) {
  .grid__image {
  }
}

@media screen and (min-width: 1024px) {
  .grid__image {
    width: 32%;
    margin: 14px 14px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .grid__image {
    width: 24%s;
  }
}
