@import url(./__language/header__language.css);
@import url(./__logo/header__logo.css);
@import url(./__languages/header__languages.css);
@import url(./__language/_selected/header__language_selected.css);

.header {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 20px auto 0 auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 34px auto 0 auto;
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 984px;
  }
}
