.footer__author {
  font-size: 14px;
  line-height: 14px;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__author {
    font-size: 14px;
    line-height: 16px;
    margin: 88px 0 12px 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer__author {
    margin: 92px 0 12px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer__author {
  }
}
