.cover__text-area {
  position: absolute;
  top: 55px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cover__text-area {
    margin: 153px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .cover__text-area {
    margin: 233px auto 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__text-area {
    margin: 283px auto 0 auto;
  }
}
