@font-face {
  font-family: "inter";
  font-family: Arial, sans-serif;
  src: url("../fonts/Inter-Regular-slnt=0.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "inter";
  font-family: Arial, sans-serif;
  src: url("../fonts/Inter-Bold-slnt=0.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "inter";
  font-family: Arial, sans-serif;
  src: url("../fonts/Inter-Black-slnt=0.ttf") format("truetype");
  font-weight: 900;
}
