.cover__image {
  width: 320px;
  height: 200px;
  margin: 70px auto 0 auto;
  opacity: 70%;
  object-fit: cover;
  overflow: hidden;
  transition: opacity 0.5s;
  display: block;
}

@media screen and (min-width: 768px) {
  .cover__image {
  }
}

@media screen and (min-width: 1024px) {
  .cover__image {
  }
}

@media screen and (min-width: 1280px) {
  .cover__image {
  }
}
