.cards__url {
  display: none;
  color: #aaaaaa;
}

@media screen and (min-width: 768px) {
  .cards__url {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 12px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cards__url {
    line-height: 170%;
  }
}
