.footer__nav {
  margin: 30px 0 50px 0;
  padding: 0;
  line-height: 1.5;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .footer__nav {
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav {
  }
}

@media screen and (min-width: 1280px) {
  .footer__nav {
  }
}
