@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__image/header__image.css);

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 21px auto 0 auto;
    align-items: center;
}
