@import url(./__text/stats__text.css);
@import url(./__title/stats__title.css);
@import url(./subtitle/stats__subtitle.css);
@import url(./__list/stats__list.css);
@import url(./metric/stats__metric.css);

.stats {
  max-width: 90%;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .stats {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .stats {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .stats {
    max-width: 984px;
  }
}
