.cover__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  width: 288px;
  margin: 0 auto 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    width: 656px;
    margin: 153px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    width: 656px;
    margin: 233px auto 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    width: 656px;
    margin: 283px auto 0 auto;
  }
}
