.header__title {
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
  line-height: 96%;
  margin: 50px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 8em;
  }
}
