@import url(./__menu/footer__menu.css);

.footer {
  width: 90%;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
