@import url(./__menu-item/footer__menu-item.css);
@import url(./__author/footer__author.css);
@import url(./__nav/footer__nav.css);
@import url(./__list/footer__list.css);

.footer {
  max-width: 288px;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
