@import url(./__text/footer__text.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__author/footer__author.css);
@import url(./__nav/footer__nav.css);
@import url(./__list/footer__list.css);

.footer {
  width: 288px;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
  }
}

@media screen and (min-width: 1280px) {
  .footer {
  }
}
