.cards__text {
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;

  line-height: 1.5;
  margin: 0 0 24px 0;
}

.cards__text:last-of-type {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .cards__text {
    font-size: 18px;
  }
}
