.cards__text {
  font-size: 16px;
  font-weight: normal;
  width: 288px;
  margin: 0 auto 35px auto;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .cards__text {
  }
}

@media screen and (min-width: 1024px) {
  .cards__text {
  }
}

@media screen and (min-width: 1280px) {
  .cards__text {
  }
}
